body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
   


}
h1{
    font-size: 60px;
}
.h1-add{
    color: grey;
    text-align: center;

}

.orange-color{
    color: MediumSeaGreen;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 70%;
    
}
.flexabile-containt{
    display: flex;
    margin-top: 100px;
}
.bottam-link{
    text-decoration: none;
    background-image: linear-gradient(SlateBlue,
    MediumSeaGreen);
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 700 px;
    border-radius: 20px;
}
.banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    padding: 2%;
}
h4{ width: 800px;
    margin: 0 auto;
    text-align: center;
    color: gray;
}
h3{
    font-size: 40px;
}
#recipes-area{
    border-left: 7px solid;
   box-shadow: 50px;
    border-image-slice: 1;

}
.experiance-area{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius:10px;
    padding-left: ;
}
footer{
    background-color: rgb(28, 1, 29);
    text-align: center;
    color: gray;
}

  



