body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 60px;
}

.orange-color{
    color: rgb(250, 166, 10);
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 70%;
    
}
.flexabile-containt{
    display: flex;
    margin-top: 100px;
}
.bottam-link{
    text-decoration: none;
    background-image: linear-gradient(SlateBlue,
    MediumSeaGreen);
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 700 px;
    border-radius: 20px;
}
.banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    padding: 2%;
}
